body {
  background-image: url("img/slider_page_image_background.png");
  background-size: 100%;
}

.container {
  margin: auto;
  margin-top: 30px;
  width: 75%;
  height: 600px;
  border: 1px solid;
}

.show {
  width: 100%;
  height: 400px;
  background-color: rgb(90, 90, 70, 0.8);
  background-size: 100%;
}

.show > div {
  position: absolute;
  margin: auto;
  margin-left: 150px;
  margin-top: 20px;
  width: 300px;
  height: 300px;
}

.menuSlider {
  position: relative;
  width: 100%;
  height: 200px;
  background-color: rgb(20, 20, 20, 0.8);
}

.ShowProgressBarBlock {
  position: absolute;
  top: 20px;
  right: 5%;
  width: 90%;
  height: 30px;
  border: 2px solid;
  border-color: rgb(180, 190, 90);
  border-radius: 20px;
}

.ProgressBar {
  width: 0px;
  height: 100%;
  border-radius: 20px;
}

.buttons {
  position: relative;
  top: 70px;
  margin: auto;
  width: 35%;
  height: 50px;
}

.btnsSlider {
  width: 50px;
  height: 50px;
  margin-left: 5px;
}

#btnPlay {
  display: inline-block;
  background-image: url(img/play.png);
  background-size: 100%;
}