body {
  background-image: url("img/slider_page_image_background.jpg");
  background-size: 100%;
}

.container {
  margin: auto;
  margin-top: 30px;
  width: 75%;
  height: 600px;
  border: 1px solid;
}

.show {
  position: relative;
  width: 100%;
  height: 400px;
  background-color: rgb(90, 90, 70, 0.8);
  background-size: 100%;
}

.CurrentSlideShowImage {
  position: absolute;
  width: 0%;
  height: 0%;
  background-size: 100%;
}

.menuSlider {
  position: relative;
  width: 100%;
  height: 200px;
  background-color: rgb(20, 20, 20, 0.8);
}

.ShowProgressBarBlock {
  position: absolute;
  top: 20px;
  right: 5%;
  width: 90%;
  height: 30px;
  border: 2px solid;
  border-color: rgb(180, 190, 90);
  border-radius: 20px;
}

.ProgressBar {
  width: 0px;
  height: 100%;
  border-radius: 20px;
}

.buttons {
  position: relative;
  top: 70px;
  left: 25%;
  width: 50%;
  height: 40%;
}

.btnsSlider {
  display: inline-block;
  width: 80px;
  height: 29px;
  padding-top: 11px;
  margin-left: 7px;
  text-align: center;
  font-family: sans-serif;
  background-color: rgb(120, 190, 18);
  border: 1px solid black;
  border-radius: 10px;
}

.btnsSlider:hover {
  background-color: rgb(90, 90, 90);
  color: rgb(230, 240, 90);
}

.btnsSlider:active {
  background-color: rgb(0, 0, 0);
  color: rgb(250, 190, 90);
}